@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.otf");
  }
  
  @font-face {
    font-family: "Caribbean Island";
    src: url("../assets/fonts/Caribbean_Island.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Walk Around the Block";
    src: url("../assets/fonts/Walk-Around-the-Block.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Westminster";
    src: url("../assets/fonts/WESTM.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  .sales_text {
      font-family: "Walk Around the Block"
  }